<!DOCTYPE html>
<html lang="en">

<head>
	<title>Nodemailer Email</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="public\images\icons\favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="public/css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="container">
		<form action="/send" method="POST">
			<button class="button" type="submit">
				SEND
			</button>
		</form>
	</div>

</body>

</html>